{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заголовок</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <header>
        <div class="nav">
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'forum:index' %}">Форум</a></li>
                <li><a href="{% url 'auth' %}">Авторизация</a></li>
            </ul>
        </div>
    </header>
    {% block content %}

    {% endblock %}
</body>
</html>