:root {
   --head: #141414;
   --head-dark: #131317;
   --card: #fff;
   --main-text: #fff9;
   --red: #c10000;
}

* {
   box-sizing: border-box;
}

img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.btn {
   font-size: 16px;
   padding: 14px 30px;
   color: var(--head);
   background-color: var(--card);
   border: 1px solid var(--card);
   transition: all 0.3s ease-in;
   border-radius: 40px;
   cursor: pointer;

   &:hover {
      background-color: var(--head);
      color: var(--card);
   }
}

.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}

.p1 {
   font-size: 22px;
   font-weight: 700;
   line-height: 120%;
   color: var(--main-text);
   transition: all 0.3s ease-in;

   &:hover {
      color: var(--card);
   }
}

a {
   text-decoration: none;
   color: var(--card);
}

.file-input {
   color: #fff;
   width: 100%;
}

.header {
   padding: 20px 0;
   background: var(--head);

   .container {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      align-items: center;
      margin: 0 auto;
   }

   .logo {
      font-size: 34px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: sans-serif;
   }
}

.form-title {
   font-size: 24px;
   color: var(--card);
   margin-bottom: 20px;
   font-weight: 700;
   text-transform: uppercase;
   font-family: sans-serif;
}

.users_login {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url('/static/images/login-bg.jpg');
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;

   .error {
      color: var(--red);
      margin-bottom: 5px;
   }


   &::before {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.6;
      z-index: 0;
   }

   .login-form {
      background-color: var(--head-dark);
      height: max-content;
      padding: 30px 20px;
      border-radius: 20px;
      position: relative;
      z-index: 4;
      display: flex;
      flex-direction: column;
      width: 350px;
      gap: 20px;

      .errorlist {
         li {
            font-size: 16px;
            color: red;
         }
      }

      .form-group {
         display: flex;
         flex-direction: column;
         gap: 5px;

         .form-input {
            padding: 12px 10px;
            border: 1px solid var(--main-text);
            border-radius: 20px;
            background-color: var(--head-dark);
            font-size: 15px;
            color: var(--card);

            &::placeholder {
               font-size: 15px;
               color: var(--card);
            }
         }

         label {
            font-size: 18px;
            color: var(--card);
         }
      }

      .register-link {
         color: var(--card);
         font-size: 16;
         text-align: center;

         a {
            text-decoration: underline;
         }
      }
   }
}


.users_registration {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url('/static/images/login-bg.jpg');
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;

   .error {
      color: var(--red);
      margin-bottom: 5px;
   }


   &::before {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.6;
      z-index: 0;
   }

   .registration-form {
      background-color: var(--head-dark);
      height: max-content;
      padding: 30px 20px;
      border-radius: 20px;
      position: relative;
      z-index: 4;
      display: flex;
      flex-direction: column;
      width: 350px;
      gap: 20px;

      .form-group {
         display: flex;
         flex-direction: column;
         gap: 5px;

         .form-input {
            padding: 12px 10px;
            border: 1px solid var(--main-text);
            border-radius: 20px;
            background-color: var(--head-dark);
            font-size: 15px;
            color: var(--card);

            &::placeholder {
               font-size: 15px;
               color: var(--card);
            }
         }

         label {
            font-size: 20px;
            font-weight: 600;
            color: var(--card);
         }
      }

      .login-link {
         color: var(--card);
         font-size: 16;
         text-align: center;

         a {
            text-decoration: underline;
            font-weight: 600;
         }
      }
   }
}

.users_profile {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url('/static/images/login-bg.jpg');
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;

   .error {
      color: var(--red);
      margin-bottom: 5px;
   }


   &::before {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.6;
      z-index: 0;
   }

   .profile-form {
      background-color: var(--head-dark);
      height: max-content;
      padding: 30px 20px;
      border-radius: 20px;
      position: relative;
      z-index: 4;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      min-width: 350px;
      gap: 20px;

      .title {
         font-size: 26px;
         color: var(--card);
         grid-column: span 2;
         display: flex;
         align-items: center;
         gap: 10px;

         .ava {
            width: 100%;
            height: 100%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
         }

      }

      .form-group {
         display: flex;
         flex-direction: column;
         gap: 5px;
         width: 200px;

         &.avatar {
            grid-column: span 2;
            width: 100%;

            input {
               padding: 12px 10px;
               border: 1px solid var(--main-text);
               border-radius: 20px;
               background-color: var(--head-dark);
               font-size: 15px;
               color: var(--card);
            }
         }

         .form-input {
            padding: 12px 10px;
            border: 1px solid var(--main-text);
            border-radius: 20px;
            background-color: var(--head-dark);
            font-size: 15px;
            color: var(--card);

            &::placeholder {
               font-size: 15px;
               color: var(--card);
            }
         }

         label {
            font-size: 20px;
            font-weight: 600;
            color: var(--card);
         }
      }

      .login-link {
         color: var(--card);
         font-size: 16;
         text-align: center;

         a {
            text-decoration: underline;
            font-weight: 600;
         }
      }
   }
}