{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page_title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index-page.css' %}" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <a href="{% url 'index' %}" class="logo">Кинопоиск</a>
        <div class="user">
          {% if user.is_authenticated %}
            <div class="user_profile p1">
              <a href="{% url 'users:profile' %}">{{ user.username }}</a>
              <a href="{% url 'users:logout' %}" class="p1">Выйти</a>
            </div>
          {% else %}
            <a href="{% url 'users:login' %}" class="user_auth p1">Войти</a>
          {% endif %}
        </div>
      </div>
    </header>
    {% block content %}

    {% endblock %}
  </body>
</html>
